

body{
    margin: 0;
    box-sizing: border-box;
    transition: all 333ms;
    
}
/* NAV */
nav{
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index:1000;
    display: none;
   
    position:fixed;
    justify-content: center;
    top: 0;
    background-color: #05111a;
    background-image: url("logo6.png");
     background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   
    
}
nav a{
    text-decoration: none;
    color: white;
}
nav div{
    padding: 30px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    align-self: center;
    transition: all 250ms;
}
nav div:hover{
    background-color: #245e88;
    transition: all 250ms;
}
nav p{
    color: #ffe920;
    text-transform: uppercase;
    font-size: 2.5em;
    justify-self: center;
    }
nav p span{
        color:white;
        text-transform: uppercase;
       
        justify-self: center;
        }
nav button{
    width: 10vw;

}

/* -------------------------- */
 .toggle-navbar{
    z-index: 2000;
    margin: 30px;
    height: 30px;
    width: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
}
.toggle-navbar div{
    height: 4px;
     border-radius: 10px;
}
 .toggle-navbar div:nth-child(1){
    width: 66%;
    background-color: rgb(255, 255, 255);
  
}
.toggle-navbar div:nth-child(2){
    
    background-color: #ffe920;
    width: 33%;
}
 .toggle-navbar div:nth-child(3){
    
    background-color: rgb(255, 255, 255);
    width: 100%
} 

/* -------------------------- */

.page1{
    
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60vh 40vh;
   

}
.page1-header{
   grid-column-start: 1;
   grid-column-end: 3;
   text-align: center;
   display: grid;
   align-items: center;
   justify-content: center;
   
   background-image: url("logo4.png");
   mix-blend-mode: hard-light;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: #ffe920;
   font-size: 3em;
   
   
}
.page1-header span{
    color: white;
}
.page1-qutoe span{
    color: white;
    font-family: 'Kanit', sans-serif;font-family: 'Khula', sans-serif;font-family: 'Montserrat', sans-serif;font-family:
    'Nosifer', cursive;font-family: 'Russo One', sans-serif;
    padding: 25px;
    font-size: 2em;
    
    
}
.page1-qutoe p{
    align-self: flex-end;
    padding-right: 20px;
    color: white;
    font-size: 1.3em;
    font-family: 'Kanit', sans-serif;font-family: 'Khula', sans-serif;font-family: 'Montserrat', sans-serif;font-family:
    'Nosifer', cursive;font-family: 'Russo One', sans-serif;
}







.page1-qutoe{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    
}
*{
    box-sizing: border-box;

}
body{
    background-image: url("tlo2.jpg");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Kanit', sans-serif;
   font-family: 'Khula', sans-serif;
   font-family: 'Montserrat', sans-serif;
   font-family: 'Nosifer', cursive;
   font-family: 'Russo One', sans-serif;
}


/*--------------- page2 --------- */

.page2{
    
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60vh 25vh 15vh;
   
}
.baner{
    background-image: url("baner.png");
    width: 100%;
    mix-blend-mode: hard-light;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    color: white;
    align-items: center;
    align-content: center;
}
.baner .header-banner{
    font-size: 2.5em;
   
}
.baner span{
    grid-column: 1/3;
   text-align: center;
   text-transform: uppercase;
   
   color: #ffffff;
}
.baner span span{
    color: #ffe920;
}
.baner span span+span{
    color: white;
}

.baner p{
    grid-column: 1/3;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    align-self: flex-start;
    color: #ffffff;
}
.baner p span{
    color: #ffe920
}
.page2-header{
    grid-column: 1/3;
    background-color: #35636ae1;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    display: grid;
    place-items: center;
    font-size: 2em;
    color: white;
    text-align: center;
    padding: 20px;
}
.page2 .readmore{
    text-transform: uppercase;
    color: white;
    display: grid;
    place-items: center;
    justify-content: center;
    font-size: 1.5em;
}



/*--------------- page3 --------- */

.page3{
    
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 66vh 34vh;
    
    
}
.page3 article
{
    background-image: url("black-hole-92358_640.jpg");
    width: 100%;
    mix-blend-mode: hard-light;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/3;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    mix-blend-mode: hard-light;
    color: white;
   
    

}
.page3 article p{
    grid-column: 1/3;
    padding: 30px;
    font-size: 1.2em;
}
.page3 article p span{
    color: #ffe920;
}
.page3-text{
    display: grid;
    place-items:center;
    padding: 30px;
    color: #ffe920;
    font-size: 1.2em;
    width: 100%;
    grid-column: 1/3;
    
}

/*--------------- page4 --------- */
.page4{
    
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    
}
.page4 article
{
    grid-column: 1/3;
    padding: 30px;
    color: white;
    font-size: 1.2em;
}

/*--------------- page4 --------- */

.gallery{
    height: 100vh;
    display: grid;
    align-content: space-between;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3,1fr);
    gap: 30px;
    padding: 10px;
    grid-template-areas: 
    "img1 img3"
    "img2 img4"
    "img5 img6";
}
.gallery .img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70%;
    
  
    
}
.gallery .img1{
    background-image: url("planets-g55c0cce6e_1920.jpg");  
    grid-area: img1;
    
    
}
.gallery .img2{
    background-image: url("space-1721695_640.jpg");
    grid-area: img2;
}
.gallery .img3{
    background-image: url("mountains-1112911_640.jpg");
    grid-area: img3;
}
.gallery .img4{
    background-image: url("xdd.jpg");
    grid-area: img4;
}
.gallery .img5{
    background-image: url("mountains-1112911_640.jpg");
    grid-area: img5;
}
.gallery .img6{
    background-image: url("mountains-1112911_640.jpg");
    grid-area: img6;
}
/*--------------- page5 --------- */
.page5{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50vh 10vh 10vh 20vh;
    gap:20px;
    padding: 30px;
}
.page5 button{
    grid-column: 1/3;
    background-color: #333D46;
    border:6px solid #12202B;
    border-radius: 30px;
    color: #F16A6C;
    width: 60vw;
    justify-self: center;
    font-size: 1.2em;
    font-family: 'Kanit', sans-serif;
    font-family: 'Khula', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nosifer', cursive;
    font-family: 'Russo One', sans-serif;
}
.page5 .magazine{
    background-image: url("aus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/3;
    border:8px solid #12202B;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
}
.page5 .magazine span{
    font-size: 2em;
    padding: 30px;
    color: #ffe920;
  
}
.page5 .magazine span+span{
    font-size: 1em;
    padding: 30px;
    color: white;
  
}
.page5 .icons{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.page5 .icons img{
    justify-self: center;
    align-self: center;
    
}



/*--------------- footer --------- */
footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(12,1fr);
    height: 100vh;
    background-image: url("tlo1.png");
    background-repeat: no-repeat;
    background-size: cover;
    
   
}
footer p{
    color: white;
    grid-column: 1/5;
    grid-row: 2/3;
    justify-self: center;
    align-self: flex-end;
    font-size: 1.4em;
}
.footer-form{
    grid-column: 1/5;
    grid-row: 3/5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
input{
    background: none;
    border: none;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-family: 'Khula', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nosifer', cursive;
    font-family: 'Russo One', sans-serif;
    font-size: 1.5em;
    width: 40vw;
    margin-left: 30px;
    text-align: center;
    border-bottom: 2px solid white;
   
    
}
input[type=text] {
    grid-row: 1/2;
}
input[type=submit] {
    grid-row: 1/3;
    grid-column: 2/3;
    cursor: pointer;
    border:none;
    color: #ffe920;
  
}
input[type=email] {
    grid-row: 2/3;
   
}

.footer-content{
    grid-column: 1/5;
    grid-row: 6/13;
    background-color: #06131dea;
    
    grid-template-columns: inherit;
    grid-template-rows: inherit;
    display: inherit;
  
}
.footer-content p {
    text-transform: uppercase;
    grid-column: 1/5;
    grid-row: 2/3;
    font-size: 2em;
    text-align: center;
  
}
.footer-content p span{
    color: #ffe920;
}
footer .icon{
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
footer .fb{
    grid-row: 7/9;
}
footer .ig{
    grid-row: 4/6;
   
}
footer .mail{
    grid-row: 10/12;
}
footer .footer-content .contact{
    border-bottom: 2px solid white;
    color: white;
    font-size: 1.1em;
    grid-column: 3/5;
    grid-row: 4/5;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}
footer .footer-content a{
    text-align: right;
    text-decoration: none;
    color:white;
    margin-right: 30px;
    padding-top: 5px;
}
footer .contact + a{
    grid-column: 3/5;
    grid-row: 5/6;
}
a + a{
    grid-column: 3/5;
    grid-row: 6/7;
}
footer .author{
    grid-row: 8/9;
    grid-column: 3/5;
    border-top: 2px solid white;
    color: white;
    padding-top: 5px;
    text-align: right;
    margin-right: 30px;
}
footer .author + span{
    grid-row: 11/12;
    border-top: 2px solid white;
    grid-column: 3/5;
    color: white;
    text-align: right;
    margin-right: 30px;
    padding-top: 5px;
}
